<html>
  <head>
    <title>Employment System</title>
    <meta
      name="viewport"
      content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no"
    />
  </head>

  <body class="ng-cloak">
    <input type="hidden" id="csrf" name="_csrf" value="<%= csrfToken %>" />
    <div id="react-root"></div>
    <footer>
      <hr class="feet-hr" />

      <ul class="info-list">
        <li class="text-center">
          <span class="strline">Employeement System</span>
          <a
            class="feet-link"
            href="mailto:137020260@qq.com?subject=Issue on employeement system "
            >Report a problem</a
          >
        </li>
        <li class="text-center">
          <span>Design By EVAN © 2019, Inc.</span>
        </li>
      </ul>
    </footer>
  </body>
</html>
