<html>

<head>
    <title>React-Redux</title>
    <meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
</head>

<body class="ng-cloak">
    <input type="hidden" name="_csrf" value='<%= csrfToken %>' />
    <div id="react-root"></div>
    <footer>
        <hr class="feet-hr">

        <ul class="info-list">
            <li class="text-center">
                <span class="strline">&nbsp;&nbsp;ReactDemo  &nbsp;&nbsp;</span>
                <a class="feet-link" href="mailto:ChinaGDCTools@perficient.com?subject=Issue on training EMS1.0 ">&nbsp;&nbsp;Report a problem&nbsp;&nbsp;</a>
            </li>
            <li class="text-center">
                <span>Design By PERFICIENT/EVAN © 2017 Perficient, Inc.</span>
            </li>
        </ul>
    </footer>
</body>

</html>