.glyphicon {
  top: 0 !important;
}

.alert-padding {
  padding: 6px 15px !important;
}

.form-control-feedback {
  right: 15px !important;
}

#example-datepicker_group {
  width: 100%;
}

.form-group {
  margin-bottom: 0 !important;
}

.div-absolute {
  top: 0;
  bottom: 0;
  left: 39px;
  right: 0;
  z-index: 100;
  position: absolute;
}

.block {
  display: block;
}
#createForm div.ant-alert.ant-alert-no-icon {
  padding: 5px 15px;
  margin-bottom: 24px;
}
#createForm .ant-row.ant-form-item {
  margin-bottom: 0;
}
